attrs==23.2.1.dev0
cffi==1.17.1
charset-normalizer==3.4.1
contourpy==1.3.1
cryptography==44.0.1
cycler==0.12.1
dbus-python==1.3.2
filelock==3.17.0
fonttools==4.56.0
gpg==1.24.2
idna==3.10
kiwisolver==1.4.5
lensfun==0.3.4
matplotlib==3.10.0
meson==1.7.0
netsnmp-python==1.0a1
nftables==0.1
numpy==2.2.3
packaging==24.2
pillow==11.1.0
pycparser==2.22
PyGObject==3.50.0
pyparsing==3.1.2
PyQt5==5.15.11
PyQt5_sip==12.17.0
PySocks==1.7.1
python-dateutil==2.9.0
pywal==3.3.0
ranger-fm==1.9.4
requests==2.32.3
six==1.17.0
torbrowser-launcher==0.3.7
tqdm==4.67.1
urllib3==2.3.0
wheel==0.45.0
